*{
    margin : 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: rgb(125, 125, 180);
    height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.container{
    background-color: rgb(62, 65, 65);
    display: flex;
    justify-content: center;
    
    height: 70vh;
    width: 450px;
    border-radius: 5%;
}
#box{
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
}

#display{
    height: 100px;
    
    margin: 10px;
    background-color: rgb(62, 65, 65);

}

#display input{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    box-sizing: border-box;
    color: azure;
    background-color: rgb(62, 65, 65);
}
#buttons{
    display: grid;grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
    gap: 15px; /* 🔹 controls space between buttons */
    padding: 15px;
}
.button{
    color: aliceblue;
    background-color: grey;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
    font-size: 1.5rem;
    
}

.button.function{
    background-color: rgb(190, 183, 33);
}

.button:hover{
    cursor: pointer;
}